<div class="ui  centered grid">
  <div class="six wide column">

<p id="notice"><%= notice %></p>

<h1>Status </h1>

<table class="ui celled striped table" style="width:50%;">
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= link_to 'Borrar', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 
 <%= form_with(model: @state, local: true) do |form| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Status" %>
    <%= form.text_field :name, id: :state_name %>  <%= form.submit "Agregar" %>
  </div>

    
   
   
<% end %>


</div>
</div>