<style type="text/css">
  .listTable{
    width: 90%;
  }


   .listTable tr:nth-child(odd){ 
    background: #efefef;
  }

  .listTable thead th{
    background: #1772B8;
    color: white;
  }

 .listTable tr:nth-child(even){ 
    background: white;
  }
  .tabledesc{
    font-size: 10px;
  }
</style>

<p id="notice"><%= notice %></p>


<h1>Listado <a href="/properties/new" class="ui teal labeled icon button">  <i class="add icon labeled"></i>Nueva Propiedad</a>
 </h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Ciudad</th>
      <th>Colonia</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td width="180"><%= property.name %></td>
        <td class="tabledesc"><%= property.description %></td>
        <td><%= property.city %></td>
        <td><%= property.neighborhood %></td>
        <td><%= property.category %></td>
        <td><%= link_to 'Ver', property, :class => "ui primary basic button" %>  </td>
        <td><%= link_to 'Editar', edit_property_path(property), :class => "ui primary basic button" %></td>
        <td><%= link_to 'Borrar', property, :class => "ui primary basic button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 
