<script type="text/javascript">
$(function() {
  $('.sortable').railsSortable();
});
</script>

<div id="showAdmin">
<p id="notice"><%= notice %></p>

<h1>
   
  <%= @property.name %> ( <%= link_to 'Editar', edit_property_path(@property) %> | <a href="/home/<%=@property.id%>">Ver</a> ) 

</h1>

<p>
  <strong>Descripción:</strong>
  <div>
  <%= @property.description %>
</div>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @property.city.name %>
</p>

<p>
  <strong>Barrio/Colonia:</strong>
  <%= @property.neighborhood.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @property.category.name %>
</p>

<p>
  <strong>Cuartos:</strong>
  <%= @property.rooms %>
</p>

<div class="ui message">

<%= form_for @photo, url: photos_path, html: { multipart: true, :class=>"ui form" } do |form| %>
  <br/>
  <%= form.file_field  :image, :class=>"ui button", multiple: true, accept: 'image/png,image/jpeg' %>

  <%= form.hidden_field :property_id, :value => @property.id%>
  <p>
  <%= form.submit "Subir Fotos", :class=>"ui button",  size: 20, :id => "addphotosubmit" %>
</p>
<% end %>
</div>



<h1>Fotos</h1>
  <div id="photosWrapperAdmin">
    
<table class="ui table collapsing"  >


  <tbody class="sortable"> 
    <% @photos.each do |photo| %>
      <tr id = "<%=photo.sortable_id%>" class="six wide"> 
        <td>
          <%= image_tag photo.image.url(:thumb) %>
         

      <%= form_with(model: photo,:class=>"ui form" ) do |f| %>
        <%= f.text_field :description, :size=>10 %>
        <%= f.submit "Guardar Cambio", :class=>"ui button tiny" %>
                <span><%= link_to 'Borrar', photo, method: :delete, data: { confirm: 'Are you sure?' } %> </span>

      <% end %>
        
     
        
      </td>
      </tr>
        
 
    
    <% end %>
 </tbody>
    </table>
  </div>

</div>



