
<div id="showAdmin">
<p id="notice"><%= notice %></p>

<h1>
   
  <%= @property.name %> ( <%= link_to 'Editar', edit_property_path(@property) %> | <a href="/home/<%=@property.id%>">Ver</a> ) 

</h1>

<p>
  <strong>Descripción:</strong>
  <div>
  <%= @property.description %>
</div>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @property.city.name %>
</p>

<p>
  <strong>Barrio/Colonia:</strong>
  <%= @property.neighborhood.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @property.category.name %>
</p>

<p>
  <strong>Cuartos:</strong>
  <%= @property.rooms %>
</p>

<div class="ui message">

<%= form_for @photo, url: photos_path, html: { multipart: true, :class=>"ui form" } do |form| %>
  <br/>
  <%= form.file_field  :image, :class=>"ui button", multiple: true, accept: 'image/png,image/jpeg' %>

  <%= form.hidden_field :property_id, :value => @property.id%>
  <p>
  <%= form.submit "Subir Fotos", :class=>"ui button",  size: 20, :id => "addphotosubmit" %>
</p>
<% end %>
</div>

<h1>Fotos</h1>
  <div id="photosWrapperAdmin">
    
    <% @property.photos.each do |photo| %>
    
    <div id="photoAdmin">
     <%= image_tag photo.image.url(:thumb) %>
     

  <%= form_with(model: photo,:class=>"ui form" ) do |f| %>
    <%= f.text_field :description %>
    <%= f.submit "Guardar Cambio", :class=>"ui button" %>
  <% end %>

    <%= link_to 'Borrar Foto', photo, method: :delete, data: { confirm: 'Are you sure?' } %> 
 
    </div>
 
    
    <% end %>

  </div>

</div>



