 
 <div id="menu">

  <ul>
	  <% @categories.each do |category| %>
	  <li class="menuItem">
	  <%= link_to category, controller: "home", id: category %>
	  </li>
	  <%end%>
	  <li>
	  <%= link_to "Listado Completo", controller: "home" %>
	  </li>
  </ul>
   
</div>


<div id="content">
<h2>
<%= @category %>
</h2>

 <% @properties.each do |property| %>

 	
 	<div class="propertybox">
 		
 		
 			<div id="propertyimg">
 		 	<%  property.photos.limit(1).each do |photo| %>
  		 		<%= image_tag photo.image.url(:thumb) %>
 		 	<% end %>
 			 </div>

  			<h2><%= link_to property.neighborhood.name , :controller => "home", :id => property, :action => "show" %></h2>

 		 	<div id="propertyDesc"><%= truncate(property.description, :length => 100)%></div>


 		 	<div id="categoryName"><%= property.category.name %></div>

 		 	<div id="price"> <%=property.currency%> <%=property.price %></div>


 	</div>
 	</a>
 	 
 <% end %>
</div>

