 

 

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->


<div class="ui grid  ">

<div class="sixteen wide column mobile only ">

  <div class="ui raised segments">

     <% @categories.each do |category| %>
    <div class="ui segment">
         <a href="/home/?category_id=<%=category.id%>" class="item smallfont " ><%=category.name%> <div class="ui label blue"><%=category.properties.count%></div></a>
    </div>
     <%end%>
    
  </div>
</div>

<div class="four wide column large screen only ">

 
<div class="ui vertical menu large" style="margin-left:30px;">

 
    <% @categories.each do |category| %>
 
   <a href="/home/?category_id=<%=category.id%>" class="item smallfont " ><%=category.name%><div class="ui label blue"><%=category.properties.count%></div></a>


    
    <%end%>

       <a href="/home/" class="item smallfont">Listado Completo <div class="ui label"><%=@propertiesCount%></div></a>


</div>

</div>


  <div class="ten wide column large screen only">

     <h1 class="ui header blue"><%= @property.name %> &nbsp;  
        <% if @property.state%>
      <a class="ui orange tag label">   <%= @property.state  %> </a>
      <%end%>

     </h1> 
     
     <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=1215479635253475&width=88&height=20" width="88" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


    <div class="fotorama" data-nav="thumbs" data-width="800" data-height="600">

    <% @photos.each do |photo| %>
   
        <img src="<%=photo.image.url%>" data-caption="<%=photo.description%>">

    <% end %>
    </div>


 

    <div class="ui attached message">

<div class="ui top right attached label blue"><%=@property.currency%> <%= number_with_precision(@property.price, precision: 2) %></div>
        <div class="header">
          <h3>
        <%=@property.category.name%></h3 >
        </div>

    </div>

<div class="ui attached segment white">


        <p>    <%= @property.description %></p>

</div>
    <div class="ui bottom attached info message">

 <i class="bed icon"></i> <%= @property.rooms%> Cuartos 

        <span class="right floated">
        <i class="map marker alternate icon"></i> <%=@property.city.name%>
     </span>
    

     
    

</div>
<form class="ui form" action=<%=messages_path%> method="POST">
       <h4 class="ui dividing header">Solicite m치s informaci칩n</h4>


  <div class="field">
    <label>Nombre</label>
    <input type="text" name="message[name]" placeholder="Nombre">
  </div>

   <div class="field">
    <label>Email</label>
    <input type="text" name="message[email]" placeholder="E-mail">
  </div>
 
   <div class="field">
    <label>Mensaje</label>
    <textarea rows="2" name="message[body]"></textarea>
  </div>

   <button class="ui button" type="submit">Enviar</button>
</form>
  </div>



 
 <div class="tablet only mobile only sixteen wide column stackable ">
<% @property.photos.each do |photo| %>
  <div class="ui segment">
          
    

    <%= image_tag photo.image.url(:medium), :class => "ui fluid image"  %>
    <div>  <%= photo.description %> </div>
  </div>
<% end %>
</div>
 
  <div class="tablet only mobile only sixteen wide column stackable ">
    <p>     <%= @property.description %></p>
     
<%= form_for @message, url: messages_path, html: {  :class=>"ui form" } do |form| %>
<%= csrf_meta_tags %>
       <h4 class="ui dividing header">Solicite m치s informaci칩n</h4>


  <div class="field">
    <label>Nombre</label>
    <input type="text" name="message[name]" placeholder="Nombre">
  </div>

   <div class="field">
    <label>Email</label>
    <input type="text" name="message[email]" placeholder="E-mail">
  </div>
 
   <div class="field">
    <label>Mensaje</label>
    <textarea rows="2" name="message[body]"></textarea>
  </div>

   <button class="ui button" type="submit">Enviar</button>
<%end%>
</div>
</div>
  





</div>





