
<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />                  

<script type="text/javascript">
   $(document).ready(function() {
    $('#lightSlider').lightSlider({
        autoWidth:true,
        loop:false,
        item: 1,
        onSliderLoad: function() {
            $('#autoWidth').removeClass('cS-hidden');
        } 
    });  
  });
</script>

<div class="ui grid ">
   
   <div class="four wide column ">

   
    <div class="ui vertical menu">

      <% @categories.each do |category| %>
   
     <a href="/home/?id=<%=category.id%>" class="item smallfont" ><%=category.name%><div class="ui label"><%=category.properties.count%></div></a>

      <%end%>

         <a href="/home/" class="item">Listado Completo</a>
    </div>

  </div>


  <div class="eight wide column">

     <div id="titleShow"><%= @property.name %>  </div> 



<div class="slideshow">
 <ul id="lightSlider">
<% @property.photos.each do |photo| %>
 
  <li>
 <%= image_tag photo.image.url(:medium), size: "600x400" %>
 <p>  <%= photo.description %> </p>
 </li>

<% end %>
</ul>
</div>

    <div class="ui secondary segment">
      <p>    <%= @property.description %></p>
    </div>

    <form class="ui form">
       <h4 class="ui dividing header">Solicite más información</h4>
  <div class="field">
    <label>Nombre</label>
    <input type="text" name="first-name" placeholder="Nombre">
  </div>
 
  <div class="field">
  <div class="field">
    <label>Mensaje</label>
    <textarea rows="2"></textarea>
  </div>
  </div>
  <button class="ui button" type="submit">Enviar</button>
</form>

  </div>


  <div class="four wide column">

<div class="ui big label blue">
<%= @property.currency %> <%=@property.price %>
</div> 
<div class="ui list">
  <div class="item">
    <i class="map icon"></i>
    <div class="content">
       <%= @property.city.name %>
    </div>
  </div>
  <div class="item">
    <i class="map marker alternate icon"></i>
    <div class="content">
      <%= @property.neighborhood.name %>
    </div>
  </div>

  

   
</div>

 

  </div>



</div>


