


<script type="text/javascript" src="/slick/slick.js"></script>

<script type="text/javascript">
$(document).ready(function(){

   $('.slider').slick({
  dots: true,
  speed: 300,
  slidesToShow: 3,
variableWidth: true
});
  
});

</script>


<div class="ui grid ">

<div class="four wide column ">

 
<div class="ui vertical menu large ">

 
    <% @categories.each do |category| %>
 
   <a href="/home/?category_id=<%=category.id%>" class="item smallfont " ><%=category.name%><div class="ui label blue"><%=category.properties.count%></div></a>

    
    <%end%>

       <a href="/home/" class="item smallfont">Listado Completo <div class="ui label"><%=@propertiesCount%></div></a>


</div>

</div>


  <div class="ten wide column large screen only  ">

     <div id="titleShow"><%= @property.name %>  </div> 



    <div class="slider">
    <% @property.photos.each do |photo| %>
      <div>
        <%= image_tag photo.image.url(:medium), :height=>400  %>
        <div>  <%= photo.description %> </div>
      </div>
    <% end %>
    </div>


 

    <div class="ui attached message">
        <div class="header">
        <%=@property.category.name%>
        </div>

    </div>

<div class="ui attached segment white">
        <p>    <%= @property.description %></p>

</div>
    <div class="ui bottom attached info message">
 <i class="bed icon"></i> <%= @property.rooms%> Cuartos 

        <span class="right floated">
        <i class="map marker alternate icon"></i> <%=@property.city.name%>
     </span>
</div>

    <form class="ui form">
       <h4 class="ui dividing header">Solicite m치s informaci칩n</h4>
  <div class="field">
    <label>Nombre</label>
    <input type="text" name="first-name" placeholder="Nombre">
  </div>
 
   <div class="field">
    <label>Mensaje</label>
    <textarea rows="2"></textarea>
  </div>
   <button class="ui button" type="submit">Enviar</button>
</form>

  </div>




 <div class="one column mobile only row">
<% @property.photos.each do |photo| %>
  <div class="ui segment">
    <%= image_tag photo.image.url(:medium), :class => "ui fluid image"  %>
    <div>  <%= photo.description %> </div>
  </div>
<% end %>
</div>
 
  <div class="one column mobile only row">
    <p>    <%= @property.description %></p>
     

    <form class="ui form">
       <h4 class="ui dividing header">Solicite m치s informaci칩n</h4>
  <div class="field">
    <label>Nombre</label>
    <input type="text" name="first-name" placeholder="Nombre">
  </div>
 
   <div class="field">
    <label>Mensaje</label>
    <textarea rows="2"></textarea>
  </div>
   <button class="ui button" type="submit">Enviar</button>
</form>
</div>

  </div>





</div>





