<!DOCTYPE html>
<html>
  <head>
    <title>Inverprop Bienes Raices</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<center>
   <%= link_to '+ Agregar Propiedad', new_property_path %>  | 	<a href="/properties/">Listado</a> | <%= link_to 'Ciudades', cities_path %>
</center>

    <%= yield %>
  </body>
</html>
