<%= semantic_flash %>
<!DOCTYPE html>
<html>

  <head>
    <title>Inverprop Bienes Raices 2.0</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  	 

    <div class="ui grid stackable">

      <div class="four wide column center aligned">
        <a href="/"><img src="/icons/logo.png" width="160"></a>
      </div>

      <div class="ten wide column  center aligned">
        

         <div class="ui horizontal list " style="margin-top:20px;">

          <a class="item " >
            <i class="icon mail"></i> inverprop@ngabrie.com
          </a>

          <a class="item">
            <i class="icon whatsapp"></i> +(504) 9402-9402
          </a>

          <a class="item">
            <i class="phone icon"></i> +(504) 2221-0870
          </a>

        </div>
       </div>

    </div>

 

     <%= yield %>
 
	 <div class="ui inverted vertical footer segment">

    <div class="ui container">
      <div class="ui  inverted divided equal  stackable grid">
        <div class="nine wide column ">
           Inverprop Bienes Raices, Todos Los Derechos Reservados
          </div>
        </div>
        
      </div>
    </div>
  </div>


  </body>
</html>
